@use "../../styles/partials/global.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/fonts.scss" as *;
@use "../../styles/partials/variables.scss" as *;

.cuisine {
  flex-direction: column;
  @include flex-position(space-between);
  margin-bottom: 1rem;

  @include mobile {
    flex-direction: row;
  }

  &__container {
    @include flex-position(center);
    flex-wrap: wrap;
    width: 100%;

    @include mobile {
      @include flex-position(space-between);
      flex-wrap: nowrap;
      width: 80%;
    }
  }

  &__label {
    background-color: $grey;
    padding: 0.2rem 0.6rem 0.2rem 2rem;
    border-radius: 0.8rem;
    font-weight: 600;
  }

  &__checkbox {
    position: relative;
    left: 1.5rem;
    top: 0.15rem;
  }

  &__title {
    font-weight: 600;
    padding-bottom: 1rem;
  }

  &__wrapper {
    @include flex-position(space-between);
    flex-direction: column;
    padding-bottom: 0.7rem;
  }

  &__item {
    padding-bottom: 0.6rem;
  }
}
