@use "../../styles/partials/global.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/fonts.scss" as *;
@use "../../styles/partials/variables.scss" as *;

.meal {
  @include flex-position(space-between);

  &__container {
    @include flex-position(space-between);
    width: 80%;
  }

  &__label {
    background-color: $grey;
    padding: 0.2rem 0.6rem 0.2rem 2rem;
    border-radius: 0.8rem;
  }

  &__checkbox {
    position: relative;
    left: 1.5rem;
    top: 0.15rem;
  }

  &__title {
    font-weight: 600;
  }

  &__wrapper {
    @include flex-position(space-between);
    flex-direction: column;
    padding-bottom: 0.7rem;

    &--special {
      @include flex-position(flex-start);
    }
  }

  &__item {
    padding-bottom: 0.6rem;
  }
}
