@font-face {
    font-family: 'Futura';
    src: url('./assets/fonts/FuturaLight.ttf') format('truetype'); 
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Black Bones';
    src: url('./assets/fonts/BlackBones.ttf') format('truetype'); 
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Garamond';
    src: url('./assets/fonts/CormorantGaramond.ttf') format('truetype'); 
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gagalin';
    src: url('./assets/fonts/GagalinRegular.otf') format('opentype'); 
    font-weight: 400;
    font-style: normal;
}
