@use "fonts" as *;
@use "mixins" as *;
@use "variables" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

body {
  box-sizing: border-box;
  font-family: 'Garamond';
  @include font-config (0.8125rem, 1.25rem, 400);

  @include tablet{
    @include font-config (0.875rem, 1.375rem, 400)
  }
}

h1 {
  font-family: "Gagalin";
  @include font-config (1.75rem, 2.25rem, 400);

  @include tablet{
    @include font-config (2rem, 2.5rem, 400)
  }
}

h2 {
  font-family: "Futura";
  @include font-config (1.25rem, 1.75rem, 400);

  @include tablet{
    @include font-config (1.5rem, 2rem, 400)
  }
}

h3 {
  font-family: "Black Bones";
  @include font-config (1.25rem, 1.75rem, 400);

  @include tablet{
    @include font-config (1.5rem, 2rem, 400)
  }
}