@use "fonts" as *;
@use "mixins" as *;
@use "variables" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

body {
  font-family: 'Garamond';
  @include font-config (0.75rem, 1.25rem, 400);

  @include tablet{
    @include font-config (0.8125rem, 1.375rem, 400)
  }
  color: $graphite;
}

h1 {
  font-family: "Gagalin";
  @include font-config (28px, 2.25rem, 400);

  @include tablet{
    @include font-config (32px, 2.5rem, 400)
  }
}

h2 {
  font-family: "Black Bones";
  @include font-config (20px, 1.5rem, 400);

  @include tablet{
    @include font-config (22px, 1.75rem, 400)
  }
}

h3 {
  font-family: "Futura";
  @include font-config (15px, 1rem, 400);

  @include tablet{
    @include font-config (16px, 1.5rem, 400)
  }
}