// colors 
$white:  #FFFFFF;
$graphite: #333333;
$light-green: #bce44e;
$dark-green: #6ca34a;
$black: #151515;
$light-grey: #666666;
$deep-green: #1f4f14;
$backround-green: #2d4927;
$light-beige: #fffdf8;
$cream: #ebdfca;
$brown: #b58171;





// breakpoints for media queries

$tablet-breakpoint: 48rem; // this is 768 pixels OR tablet screen

$desktop-breakpoint: 80rem; // this is 1280 pixels OR desktop screen
