@use "../../styles/partials/global.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/fonts.scss" as *;
@use "../../styles/partials/variables.scss" as *;


.footer {
background-color: $graphite;
padding: 3rem;

&__note{
    color: $white;
    @include flex-position(center);

    @include font-config (1rem, 0.6rem, 400);

    @include small-mobile {
      @include font-config (1.25rem, 1rem, 400)
    }
  
    @include mobile{
      @include font-config (1.5rem, 1.5rem, 400)
    }
  }
}
