@use "../../styles/partials/global.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/fonts.scss" as *;
@use "../../styles/partials/variables.scss" as *;

.recipe {
  @include flex-position(space-between);
  flex-direction: row;

  &__details-1 {
    width: 35%;
    background-color: $graphite;
    color: $white;
    @include flex-position(flex-start);
    flex-direction: column;
    padding: 3rem;
    border-bottom: 0.15rem solid $white;
  }

  &__category {
    border-bottom: 0.15rem solid $white;
    padding-bottom: 0.5rem;
  }

  &__ingridients {
    padding: 0.2rem 1rem;
  }

  &__nutrition-wrapper {
    @include flex-position(space-between);
    flex-direction: row;
  }

  &__nutrition {
    padding: 0.2rem 1rem;
  }

  &__grams {
    padding-right: 1rem;
  }

  &__percentages {
    padding-right: 1rem;
  }

  &__output-wrapper {
    @include flex-position(space-between);
    flex-direction: column;
    align-items: center;
  }

  &__calories {
    width: 2rem;
    padding-bottom: 0.2rem;
    text-align: center;
  }

  &__servings {
    width: 2rem;
    text-align: center;

    &:focus {
      border: 0.09rem solid $dark-graphite;
      outline: none;
    }
  }

  &__ingridients-wrapper {
    padding: 1rem 0;
    margin-bottom: 1.5rem;
  }

  &__details-2 {
    width: 65%;
  }

  &__image {
    width: 100%;
  }

  &__title {
    padding-bottom: 1rem;
    @include font-config(1.5rem, 1.5rem, 400);

    @include tablet {
      @include font-config(2rem, 1.75rem, 400);
    }
  }

  &__container {
    padding: 2rem 3rem 3rem;
  }

  &__info {
    @include flex-position(space-between);
    flex-direction: row;
    padding: 1rem;
  }

  &__type {
    padding-bottom: 0.4rem;
    font-weight: 600;
  }

  &__type-output {
    padding-bottom: 2rem;
  }

  &__label-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  &__label {
    background-color: $grey;
    padding: 0.2rem 0.5rem;
    margin: 0.2rem 0.4rem 0.2rem 0;
    border-radius: 0.8rem;
    font-weight: 600;
  }

  &__health-labels {
    padding: 2rem 0;
  }

  &__instruction-wrapper {
    @include flex-position(space-around);
    padding-top: 2rem;
  }

  &__instruction {
    @include flex-position(center);
    background-color: $green;
    border: none;
    border-radius: 0.2rem;
    width: 7rem;
    color: $white;
    font-family: "Futura";
    font-weight: 600;
    padding: 0.6rem 0;
    cursor: pointer;
  }

  &__instruction-link {
    text-decoration: none;
  }

  &__error {
    color: red;
    text-align: center;
    margin-top: 3rem;

    font-weight: 600;
  }

  &__error-link {
    text-align: center;
    text-decoration: none;
    margin-top: 2rem;
    margin-bottom: 81vh;
  }

  &--error {
    @include flex-position(center);
    align-items: center;
    flex-direction: column;
  }
}
