@use "../../styles/partials/global.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/fonts.scss" as *;
@use "../../styles/partials/variables.scss" as *;


.recipes {

    background-color:$white;
    padding: 2rem;


    &__form-wrapper {
        width: 70%;
    }

    &__logo {
       width: 1rem;
       padding: 0.3rem 0.2rem 0.2rem;
    }

    &__keywords {
        padding-bottom: 2rem;

    }

    &__search {
        border: 0.08rem solid $grey;
        border-top-left-radius: 0.2rem;
        border-bottom-left-radius: 0.2rem;
        padding: 0.3rem 0;
    }

    &__search-button {
        background-color: $dark-green;
        border: none;
        border-top-right-radius: 0.2rem;
        border-bottom-right-radius: 0.2rem;
    }

}



// $white:  #FFFFFF;
// $graphite: #333333;
// $light-green: #bce44e;
// $dark-green: #6ca34a;
// $black: #151515;
// $deep-green: #1f4f14;
// $backround-green: #2d4927;
// $brown: #b58171;
//$grey: #ccc;

